body {
	margin: 0px;
}

.full-screen {
	background-color: gray;
	position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div {
  padding: 1%;
}

.content {
	width: 80%;
	margin: auto;

	display: flex;
	flex-flow: row nowrap;
}

.display {
  flex: 2 2 60%;
  order: 1;
}

.flyers {
  flex: 1 1 40%;
  order: 2;
}

img {
  width: 100%;
}
