body {
	margin: 0px;
}

.full-screen {
	background-color: gray;
	position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div {
  padding: 1%;
}

.content {
	width: 80%;
	margin: auto;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.display {
  flex: 2 2 50%;
  order: 1;

  border: .25em solid black;
}

.flyers {
  flex: 1 1 50%;
  order: 2;

  border: .25em solid black;
}

img {
  width: 100%;
}
