#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.border-shadow {
	-webkit-box-shadow: 0px 2px 0px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 0px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 0px 2px rgba(0,0,0,0.25);
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#customers tr th, #customers tr td {
	border: 0px;
}