body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: orange;
}

.full-screen {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.box {
	width: 100px;
	height: 100px;
}

.red {
	background-color: red;
}